/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 27, 2014, 6:45:27 PM
    Author     : azam
*/

html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }

#addrSection{
    position:absolute;
    width:350px;
    left:20px;
    top:20px;
    z-index:1;
}
#addressInput{
    width:100%;
}

#resultSection{
    position:absolute;
    width:350px;
    left:20px;
    top:65px;
    z-index:1;
}

#list-group li{
    
}

.cls-directions{
    background-color: white;
    max-height: 506px;
    overflow-y: auto;
}

#directionsSection{
    padding:0 10px 10px 10px;
}

#distanceSection{
    padding:20px;
}

#resultSection .item{
    min-height: 546px;
    background-color: white;
}

.anchor{
	cursor: pointer;
}